.history{
    color: rgb(12, 219, 50);
    background-color: rgb(70, 251, 82);
    font-size: x-large;
}



.addButton{
    background-color: rgb(63, 251, 191);
    color: rgb(126, 24, 67);
    font-size: large;
    font-weight: bolder;
}



.trow{
    background-color: rgb(103, 247, 54);
    color: rgb(246, 15, 111);
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    background-color: alpha($color: #0cfa87);
}



.navclass{
    background-color: rgb(195, 85, 255);
    color: rgb(246, 15, 111);
    font-size:x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    background-color: alpha($color: #36e691);
}



.searchBTN{
    background-color: aqua;
    color: rgb(246, 15, 111);
    font-size:x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    background-color: alpha($color: #36e691);
}